/* fonts */
@font-face {
  font-family: Muli;
  src: url("../fonts/Muli.ttf");
}

@font-face {
  font-family: Muli-bold;
  src: url("../fonts/Muli-Bold.ttf");
}

/* reset codes and common codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Muli, sans-serif;
}

html {
  scroll-behavior: smooth;
}

hr {
  border: 0.1px solid #eceff2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-orange {
  border: none;
  border-radius: 5px;
  background-color: #ff4404;
  color: #fff;
  font-size: 12px;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-orange:hover {
  color: #000;
  background-color: #ffce33;
}

.btn-white {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-white:hover {
  background-color: #ffce33;
}

.half {
  width: 50%;
}

.themes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.badge-bg-orange {
  background-color: #e63c2a;
  color: #fff;
}

.badge-bg-yellow {
  background-color: #ffce33;
  color: #000;
}

.title {
  padding: 0 0 50px 0;
}

.title h2 {
  color: #333333;
  font-size: 32px;
  margin: 5px 0;
}

.title p {
  color: #7a7a7a;
  font-size: 16px;
}

.demo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* navigation bar design */
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  background-color: #fff;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
}

.nav-bar .logo-with-toggle-bar {
  padding: 0 20px;
}

.nav-bar .logo a {
  text-decoration: none;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: #e7eaed;
  padding: 0 15px;
  color: #7a7a7a;
}

.nav-bar .nav-links a:hover {
  color: #ff4404;
  transition: 0.3s ease-in;
}

.nav-bar .nav-links .active {
  color: #f44040;
}

.toggle-bar {
  background-color: #f44040;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}

.toggle-bar i {
  color: #fff;
  font-size: 20px;
}

.logo-with-toggle-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* home section design - index.html */
#home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2% 1%;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}

.home .w-50 {
  margin: 0 30px;
}

.home h5 {
  font-size: 18px;
  color: #f3f4f6;
}

.home h2 {
  font-size: 60px;
  font-family: Muli-bold;
  font-weight: 700;
  color: #f3f4f6;
}

.home button {
  margin: 25px 0;
}

/* popular themes design - index.html & themes.html  */
.popular-theme {
  position: relative;
  padding: 100px 0;
}

.premium-theme {
  position: relative;
  padding: 30px 0;
}

.theme {
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #d3d3d3;
  cursor: pointer;
  margin: 20px;
}

.img-with-badge {
  position: relative;
}

.img-with-badge h3 {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20px;
  padding: 7px 12px;
  font-size: 15px;
  font-weight: 50;
}

.theme .contents {
  padding: 20px 10px;
}

.theme img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.theme h2 {
  color: #151515;
  font-size: 18px;
  font-weight: 100;
  margin: 30px 10px 10px 10px;
}

.theme p {
  color: #616161;
  font-size: 14px;
  margin: 10px;
  font-weight: 200;
}

.theme a {
  text-decoration: none;
  margin: 10px;
  color: #3333338c;
  font-weight: 200;
}

.theme a i {
  margin: 0 5px;
}

.popular-theme button {
  margin: 50px auto;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* why to choose section - index.html  */
#why-to-choose {
  background-color: #f0f1f4;
}

.reason-to-choose {
  padding: 100px 0;
}

.card {
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  margin: 20px;
}

.card i {
  color: #e63c2a;
  font-size: 48px;
  padding: 15px 0;
}

.card h2 {
  color: #151515;
  font-size: 20px;
  padding: 10px 0;
}

.card p {
  color: #8c8c8c;
  font-size: 16px;
  padding: 10px 0;
}

/* client section design - index.html  */
#our-client-speak {
  padding: 100px 0;
}

.w-50 {
  width: 50%;
}

.client-card {
  margin: 32px;
}

.message {
  padding: 32px;
  color: #333333;
  background-color: #f3f4f6;
  text-align: center;
  border-radius: 7px;
}

.client-name {
  text-align: center;
  padding: 5px 0;
}

.client-carousel {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #f3f4f6;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 1.5%;
  background-color: #cccccc;
}

.circle:hover {
  background: #1c1c1c;
  cursor: pointer;
}

.active-circle {
  background-color: #1c1c1c;
}

/* premium themes - themes.html */
.themes-title {
  padding: 4% 0;
  margin: 0 20px;
}

.themes-title h2 {
  color: #333333;
  font-size: 32px;
  margin: 5px 0;
}

.themes-title p {
  color: #7a7a7a;
  font-size: 16px;
}

/* alert - themes.html & about-us.html */
#download-our-themes {
  background-color: #f44040;
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin-top: 100px;
}

.alert h2 {
  color: #fff;
  font-size: 26px;
}

/* about us title - about-us.html */
.page-title {
  width: 75%;
  padding: 80px 20px;
}

.page-title h2 {
  color: #333333;
  font-size: 38px;
  margin: 10px 0;
}

.page-title p {
  color: #7a7a7a;
  font-size: 16px;
}

/* our work process - about-us.html */
.work-process {
  padding: 20px;
}

.work-process h2 {
  font-size: 32px;
  padding: 50px 0;
  color: #333333;
}

.full-process {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.full-process h4 {
  text-align: center;
  color: #333333;
  margin: 25px 0;
}

.process {
  margin: 20px;
}

.process .icon {
  height: 154px;
  width: 154px;
  border: 2px dashed #cccccc;
  border-radius: 50%;
}

.process .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process .icon i {
  font-size: 50px;
  color: #242424;
}

.process .icon h5 {
  position: absolute;
  top: 15px;
  right: -15px;
  color: #fff;
  background-color: #f44040;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 25px;
}

/* faq's about us - about-us.html */
#faq-about-us {
  background-color: #f0f1f4;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 0;
  padding: 100px 0;
}

.about-content .content {
  padding: 20px;
}

.about-content .content h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333333;
}

.about-content .content p {
  font-size: 16px;
  color: #7a7a7a;
}

/* qualities of an elite author - about-us.html */
.elite-author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.elite-author h2 {
  font-size: 28px;
  color: #333333;
  margin: 30px 0;
}

.elite-author p {
  color: #7a7a7a;
  font-size: 16px;
}

.elite-author img {
  display: block;
  width: 70%;
  margin: auto;
}

/* team members - our-team.html */
.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.member {
  margin: 10px;
  padding: 30px;
}

.member img {
  width: 78%;
  display: block;
  margin: auto;
}

.member h2 {
  font-size: 20px;
  color: #151515;
  text-align: center;
  margin: 10px 0;
}

.member p {
  font-size: 14px;
  color: #7f7f7f;
  text-align: center;
}

/* contact us - contact-us.html */
#contact-form {
  background: url("../media/cb-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.contact-us {
  padding: 100px 0;
}

.form-control {
  margin: 40px;
  padding: 0 5px;
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: #7a7a7a;
}

.form-control input,
.form-control textarea {
  width: 57%;
  padding: 8px 16px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  color: #7a7a7a;
  font-size: 15px;
  background: #fff;
}

.form-control input:focus,
.form-control textarea:focus{
  outline: 0;
}

.form-control label {
  color: #7a7a7a;
  font-size: 16px;
}

.form-control span {
  color: #ff0000;
}

.form-control textarea {
  resize: vertical;
  height: 201px;
  min-height: 70px;
  max-height: 350px;
  padding: 8px 16px;
  transition: resize .3s linear;
}

.form-control button {
  border: none;
  border-radius: 3px;
  background-color: #ff4404;
  color: #fff;
  font-size: 15px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.form-control button:hover {
  background-color: #ffce33;
  color: #151515;
}

.hidden{
  display: none;
}

.icon-msg{
  margin: 0 40px;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #008000;
}

.submitted i, .another-one i{
  font-size: 25px;
  margin: 12px 5px;
  padding: 0 5px;
}

.submitted .msg{
  font-size: 20px;
}

.submitted .another-one{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px;
  font-size: 20px;
  color: rgb(87, 87, 235);
  cursor: pointer;
}

/* footer design */
footer {
  background-color: #242424;
  padding: 100px 0;
}

.footer-logo {
  margin: 0 auto;
}

.footer-logo img {
  display: block;
  width: 42px;
  margin: 0 auto;
  cursor: pointer;
}

.footer-logo p {
  text-align: center;
  color: #fff;
  font-style: italic;
  padding: 25px 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px 0 35px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

.footer-links a:hover {
  color: #ffce33;
}

.footer-links i {
  font-size: 20px;
  color: #fff;
  margin: 15px;
  cursor: pointer;
}

.footer-links i:hover {
  color: #f44040;
}

.copyright p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 25px;
}

/* 992px and less */
@media screen and (max-width: 992px) {
  .w-50 {
    width: 75%;
  }

  .title {
    margin: 0 3%;
  }

  .themes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .client-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3%;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-control input, .form-control textarea{
    width: 65%;
  }
}

/* 768px and less */
@media screen and (max-width: 768px) {
  nav {
    background-color: #f0f1f4;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    background-color: #f0f1f4;
    padding: 7px 0 0 0;
    transition: 0.3s;
  }

  .nav-links a {
    margin: 10px 0;
  }

  .toggle-bar {
    display: block;
  }

  .none {
    display: none;
  }

  .flex {
    display: flex;
  }

  .home {
    padding: 50px 0;
  }

  .client-carousel .w-50 {
    width: 100%;
  }

  .alert {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  .alert h2 {
    padding: 0 0 20px 0;
  }

  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .half {
    width: 100%;
  }

  .elite-author {
    display: flex;
    flex-direction: column;
  }

  .elite-author img {
    padding: 50px 0;
  }

  .member img {
    width: 85%;
  }

  .form-control input, .form-control textarea{
    width: 80%;
  }

  .footer-links a {
    margin: 0 2.5%;
  }

  .footer-links i {
    margin: 0 2.5%;
  }
}

/* 600px and less */
@media screen and (max-width: 600px) {
  .w-50 {
    width: 100%;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home h2 {
    font-size: 35px;
  }

  .home .w-50 {
    margin: 0 auto;
    text-align: center;
  }

  .themes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .process {
    padding: 25px;
  }

  .page-title {
    width: 100%;
    margin: 10px 0;
  }

  .full-process {
    justify-content: center;
  }

  .process {
    margin: 10px;
  }

  .members {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-control input, .form-control textarea{
    width: 100%;
  }
}
